@{
    ViewData["Title"] = "HOMEWORK";
}

<h1 class="display-4">HOMEWORK</h1>
<p>
    Завдання 1:
    Створіть і запустіть базовий додаток ASP.NET Core, побудований
    на основі ASP.NET Razor Pages. На вебсторінці виведіть номер
    поточного дня року.<br/>
    <a a asp-controller="Home" asp-action="Task_one">Виконання завдання 1</a>
</p>

<p>
    Завдання 2:
    Створіть і запустіть базовий додаток ASP.NET Core, побудований
    на основі ASP.NET Razor Pages. Залежно від випадкового
    значення, на вебсторінці відобразіть будь-яку літеру з
    англійського алфавіту.<br />
    <a asp-controller="Home" asp-action="Task_two">Виконання завдання 2</a>
</p>

<p>
    Завдання 3:
    Створіть і запустіть базовий додаток ASP.NET Core, побудований
    на основі ASP.NET Razor Pages. Додайте до базового додатка
    нову сторінку. Сторінка має відображати інформацію про
    ресторан. Доступ до сторінки за посиланням у верхньому меню
    сторінки.<br />
    <a asp-controller="Home" asp-action="Task_three">Виконання завдання 3</a>
</p>

<p>
    Завдання 4:
    Додайте до завдання 2 відображений список ресторанів.
    Використовуйте можливості CSS для форматування списку.<br />
    <a asp-controller="Home" asp-action="Task_four">Виконання завдання 4</a>
</p>

<p>
    Завдання 5:
    Створіть і запустіть базовий додаток ASP.NET Core, побудований
    на основі ASP.NET Razor Pages. Додайте до базового додатка
    нову сторінку. Сторінка має відображати інформацію про країни.
    Доступ до сторінки за посиланням у верхньому меню сторінки.
    Використовуйте можливості CSS для форматування списку.<br />
    <a asp-controller="Home" asp-action="Task_five">Виконання завдання 5</a>
</p>


