@{
    ViewData["Title"] = "Завдання 5";
}
<h1 class="display-4">@ViewData["Title"]</h1>


<p>
    Створіть і запустіть базовий додаток ASP.NET Core, побудований
    на основі ASP.NET Razor Pages. Додайте до базового додатка
    нову сторінку. Сторінка має відображати інформацію про країни.
    Доступ до сторінки за посиланням у верхньому меню сторінки.
    Використовуйте можливості CSS для форматування списку.
</p>

<table class="table table-hover style_rest_country">
    <thead>
        <tr>
            <th class="style_centr">Номер з\п</th>
            <th class ="style_centr">Назва країни</th>
            <th class="style_centr">Інформація</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="style_centr">
                1
            </td>
            <td class="style_centr country">
                Україна
            </td>
            <td>

                Україна – країна на сході Європи, багата своєю історією, культурою та природними красами. Має різноманітний ландшафт, що включає Карпати, Кримські гори та безмежні степи. Київ, столиця країни, вражає своєю старовинною архітектурою, а Львів приваблює атмосферою старовинного міста.

                Україна відома своєю гостинністю та національною кухнею, в якій часто зустрічаються борщ, вареники та смачні сирники. Крім того, культурна спадщина країни включає в себе український народний спів, вишиванки та традиційні виставки народних мистецтв.

                Україна має складну історію, яка включає етапи незалежності та періоди під владою інших держав. Незважаючи на труднощі, українці проявляють велику силу та твердість духу у вирішенні своїх проблем.
            </td>
        </tr>
        <tr>
            <td class="style_centr">
                2
            </td>
            <td class="style_centr country">
                Сполучені Штати Америки (США)
            </td>
            <td>
                Сполучені Штати Америки (США) — країна в Північній Америці, що складається з 50 штатів, федерального округу та різних територій. За площею і населенням одна з найбільших країн у світі. Столицею є Вашингтон, округ Колумбія.

                США визначаються різноманітністю культур, економікою та політичною системою. Країна має великий вплив на світові справи як економічна та політична потужність, а також в галузі науки, технологій та культури.

                Географічно США включають різноманітні ландшафти, від гірських хребтів до рівнин, великих озер та узбережжя океанів. Країна відома своєю історією імміграції, що призвела до різноманіття мов, культур та релігій.

                США грають важливу роль у світовій політиці, економіці та культурі, і їх вплив визначається у багатьох сферах глобальних відносин.
            </td>
        </tr>
        <tr>
            <td class="style_centr country">
                3
            </td>
            <td class="style_centr country">
               Китай
            </td>
            <td>

                Китай — країна, розташована в Східній Азії, що володіє величезним територіальним розмаїттям та численним населенням. Китай є найдавнішою цивілізацією у світі, з багатою історією та культурою, яка сформувала впливовий внесок у світовий розвиток.

                Офіційною мовою є китайська, а столицею — Пекін. Китай є соціалістичною країною з унікальною комбінацією соціалістичної планової економіки та ринкових елементів. Економіка Китаю є однією з найбільших у світі та вирізняється швидким економічним зростанням.

                Китай має різноманітний ландшафт, включаючи великі гори, річки, пустелі та моря. Культурне надбання включає традиційне мистецтво, філософію, літературу та кухню.

                Країна є найбільш населеною у світі і відзначається різноманіттям етнічних груп. Китай також грає важливу роль на світовій арені, як політично, так і економічно, і має значний вплив на глобальні справи.
            </td>
        </tr>
        
      

    </tbody>
</table>

                