@{
    ViewData["Title"] = "Завдання 2";
}
<h1 class="display-4">@ViewData["Title"]</h1>


<p>
    Створіть і запустіть базовий додаток ASP.NET Core, побудований
    на основі ASP.NET Razor Pages. Залежно від випадкового
    значення, на вебсторінці відобразіть будь-яку літеру з
    англійського алфавіту.
</p>
<div class="container text-center">
    <h2>Літера - @ViewData["later"]</h2>
</div>