@{
    ViewData["Title"] = "Завдання 4";
}
<h1 class="display-4">@ViewData["Title"]</h1>


<p>
    Додайте до завдання 2 відображений список ресторанів.
    Використовуйте можливості CSS для форматування списку.
</p>

<table class="table table-hover style_rest">
    <thead>
        <tr>
            <th>Номре з\п</th>
            <th>Назва ресторану</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                1
            </td>
            <td>
                Яхта
            </td>
        </tr>
        <tr>
            <td>
                2
            </td>
            <td>
                Море
            </td>
        </tr>
        <tr>
            <td>
                3
            </td>
            <td>
                Фрателли
            </td>
        </tr>
        <tr>
            <td>
                4
            </td>
            <td>
                Облака
            </td>
        </tr>
        <tr>
            <td>
                5
            </td>
            <td>
                MAMAN
            </td>
        </tr>
        <tr>
            <td>
                6
            </td>
            <td>
                Corvin
            </td>
        </tr>
         <tr>
            <td>
                7
            </td>
            <td>
                Tavernetta
            </td>
        </tr>
        <tr>
            <td>
                8
            </td>
            <td>
                Устричная
            </td>
        </tr>
        <tr>
            <td>
                9
            </td>
            <td>
                Park Residence
            </td>
        </tr>
        <tr>
            <td>
                10
            </td>
            <td>
                La Terrazza
            </td>
        </tr>
        <tr>
            <td>
                11
            </td>
            <td>
                Компот на Дерибасовской
            </td>
        </tr>
        
    </tbody>
</table>